{
    "printWidth": 100,
    "singleQuote": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["**/*.json"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["**/*.scss", "**/*.css"],
            "options": {
                "printWidth": 160
            }
        }
    ]
}
